.navbar{
     height: 80px;
     position: fixed;
     /* width: 1366px; */

    background-color: transparent;
    /* display: flex; */
    /* justify-content: center; */
    /* position: absolute; */
    top: 0;
    z-index: 2000;
    width: 100%;
    color: rgb(211, 211, 211);
    transition: background-color 0.3s ease;
}
.wrapper{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.span{
    font-weight: bold;
    font-size: 20px;
    margin-left: 6rem;

    /* font-family:; */
}
.log{
    margin-right: 8rem;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile{
    color: lightgray;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0px;
    border-bottom: 2px solid orange;
}
@media screen and (max-width:550px) {
    .span{
        margin: 0;
    }
    .log{
        margin-right: 4.3rem;
    }
    .spann{
        display: none;
    }
 
}