.navbar{
     height: 80px;
     position: fixed;
     /* width: 1366px; */

    background-color: transparent;
    /* display: flex; */
    /* justify-content: center; */
    /* position: absolute; */
    top: 0;
    z-index: 100;
    width: 100%;
    color: rgb(211, 211, 211);
    transition: background-color 0.3s ease;
}
.wrapper{
    max-width: 1566px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.span{
    font-weight: bold;
}
.profile{
    color: lightgray;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
    border-bottom: 2px solid orange;
}