.container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    /* width: 100%; */
    flex-wrap: nowrap;
    margin: auto;
    /* background-color: rgb(184, 120, 1); */
    
}

.p{
    color: lightgray;
    /* margin-top: 10rem; */
    font-size: 80px;
    font-weight: 300;
    margin-right: 2rem;
    text-align: end;
    z-index: 2;
    /* letter-spacing: 3px; */
    line-height: 90px;
}
.pRight{
    color: lightgray;
    /* margin-top: 10rem; */
    font-size: 80px;
    font-weight: 300;
    text-align: start;
    z-index: 2;
    margin-left: 2rem;
    /* letter-spacing: 3px; */
    line-height: 90px;
}
.text{
    color: lightgray;
    /* margin-top: 7rem; */
    font-size: 80px;
    font-weight: 300;
    margin-right: 2rem;
    z-index: 2;
    text-align: end;
    /* width: 100%; */
    /* letter-spacing: 3px; */
}
.textRight{
    color: lightgray;
    /* margin-top: 7rem; */
    font-size: 80px;
    font-weight: 300;
    margin-left: 2rem;
    z-index: 2;
    /* width: 100%; */
    /* letter-spacing: 3px; */
}
.button{
    padding: 10px;
    position: relative;
    margin-right: 1rem;
    color: white;
    width: 13rem;
    /* border-radius: 5px; */
    font-size: 17px;
    height: 6rem;
    margin-right: 2.3rem;
    cursor: pointer;
    font-weight: 500;
    margin-top: 1rem;
    letter-spacing: 2px;
    /* cursor: pointer; */
    z-index: 2;
    border: 1px solid lightgray;
    background-color: transparent;
     transition: all 0.3s ease; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
}
.button2{
    padding: 10px;
    margin-right: 1rem;
    color: black;
    height: 6rem;
    width: 13rem;
    /* border-radius: 5px; */
    font-size: 17px;
    cursor: pointer;
    z-index: 2;
    margin-left: 2rem;
    font-weight: 500;
    margin-top: 1rem;
    letter-spacing: 2px;
    border: 1px solid lightgray;
    background-color: lightgray;
    transition: all 0.3s ease; 
}
.button2:hover{
    background-color: transparent;
    color: lightgray;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.598)
}
.button:hover{
    color: black;
    background-color: orange   ;

    box-shadow: 0 0 20px orange;
}
.slidingText{
    position: absolute;
    font-size: 32vh;
    bottom: -38px;
    height: 25rem;
    white-space: nowrap;
    width: 50%;
    color: #ffffff1a;
    
}
.right{
    
    border-left: 3px solid lightgray;
    display: flex;align-items: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    width: 50%;
    background-image: url(/src/assets/images/neww.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    object-fit: cover;
}
.left{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* margin-right: 2rem; */
    flex-direction: column;
    height: 100vh;
    background-image: url(/src/assets/images/new.jpg);
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    object-fit: cover;
    /* align-items: flex-start; */
    /* margin: 0; */
}
.heroBackgrd::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(12, 31, 65, 0.679); 
}
.heroBackgrdR{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: rgba(0, 0, 0, 0.616); 
}
@media screen and (max-width:1200px) {
   .p{
    font-size: 50px;
    line-height: 50px;
 
   }
   .pRight{
    font-size: 50px;
    line-height: 50px;
   }
}
@media screen and (max-width:389px) {
    .p{
     font-size: 20px;
     line-height: 30px;

    }
    .pRight{
     font-size: 20px;
     line-height: 30px;
    }
 }