.container{
    height: 100%;

}
.info1{
    display: flex;
}
.inofR{
    display: flex;
    width: 12rem;
    height: 2rem;
    gap: 2px;
    align-items: center;
    width: 12rem;
    min-width: 12rem;
    display: flex;
    border-radius: 30px;
    font-weight: 500;
    font-size: 16px;
    opacity: 0.6;
}
.top{
    height: 20rem;
    position: relative;
    background-image: linear-gradient(to bottom right, #060417d7, rgb(0, 174, 255));
    /* background-image: url(/src/assets/images/tools.jpg); */
    background-position: center center;
    background-size: cover;
}
/* .heroBackgrd {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 100%;
    background: rgba(0, 0, 0, 0.82); 
} */
.img{
    position: absolute;
    height: 10rem;
    width: 10rem;
    object-fit: cover;
    border-radius: 50%;
    z-index: 2;
    bottom: -14%;
    left: 13%;
    border: 3px solid white;
}
.bottom{
    /* height: 120vh; */
    flex: 1;
    padding-top: 4rem;
    width: 74%;
    /* background-color: #130a2e; */
    margin: auto;
    flex-direction: row;
    /* display: flex; */
}
.name{
    color: rgb(15, 6, 36);
    font-size: 30px;
    font-weight: 500;
}
.bottomLeft{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    background-color: rgb(255, 255, 255);
}
.bottomRight{
    /* background-color: rgb(29, 103, 169); */
    width: 30%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.email{
    opacity: 0.7;
}
.info{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
    /* justify-content: center; */
    /* background-color: #130a2e; */
}
.location{
    /* background-color: rgb(238, 235, 235); */
    width: 12rem;
    min-width: 12rem;
    /* text-align: center; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 2rem;
    border-radius: 30px;
    font-weight: 500;
    font-size: 16px;
    opacity: 0.6;
}
.post{
    /* margin: auto; */
    padding: 1rem;
    position: relative;
    margin-top: 2rem;
    max-height: 50rem;
    /* height: 50rem; */
    max-width: 56rem;
    background-color: rgb(245, 243, 239);
    margin-bottom: 2rem;
    border-radius: 20px;
    /* box-shadow: 0 0 7px rgba(30, 32, 171, 0.117) */
}
.postProfile{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255)  ;
    object-fit: cover;
}
.postImage{
    width: 100%;
    object-fit: cover;
    height: 30rem;
    margin-bottom: 1rem;
    border-radius: 10px;
}
.desc{
    /* margin-top: 0.7rem; */
    margin-bottom: 0.4rem;
}
.bottom{
    /* height: 120vh; */
    flex: 1;
    padding-top: 4rem;
    width: 74%;
    gap: 2rem;
    /* background-color: #130a2e; */
    margin: auto;
    flex-direction: row;
    display: flex;
}
.nb{
    width: 12rem;
    height: 6rem;
    background-color: rgb(245, 243, 239);
    padding: 10px;
    display: flex;
    border-radius: 14px;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}
.btnAdd{
    position: absolute;
    bottom: -47%;
    right: 40%;
    font-size: 50px;
    background-color: #e1e0e3;
    cursor: pointer;
    height: 5rem;
    width: 3rem;
    color: rgba(0, 0, 255, 0.643);
    border-radius: 40px;
}
    /* .formm{
        top: 50%;
        left: 50%;

    } */
    .postTop{
        display: flex;
        align-items: center;
        gap:0.5rem;
    }
    .namePost{
        font-size: 20px;
        font-weight: 500;
        margin-bottom: -0.5rem;
    }
    .dots{
        position: absolute;
        right: 2rem;
        top: 2.5rem;
        cursor: pointer;
    }
    .nameLocation{
        display: flex;
        flex-direction: column;
        
      }
      .editDelete{
        display: flex;
        position: absolute;
        right: 2%;
        top: 6%;
      }
      .numbers{
        display: flex;
        gap: 1rem;
      }
.noPost{
    font-size: 50px;
    /* background-color: rgb(7, 31, 52); */
    font-weight: 600;
    color: rgb(7, 31, 52);
}
.reviews{
    height:fit-content;
    margin-top: 0.6rem;
    background-color: rgb(245, 243, 239);
    border-radius: 20px;
    padding-bottom: 3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

}
.rev{
    text-align: center;
    /* margin-top: 1rem; */
    font-size: 24px;
    padding-top: 2rem;
    color: rgb(48, 48, 134);
    font-weight: 600;
}
.comments{
    background-color: rgb(216, 208, 208);
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  border-radius: 20px;

}
.singleComment{
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 1rem;
    /* align-items: center; */
    gap: 1rem;
    border-bottom: 1px solid rgb(245, 243, 239);
}
.commentImg{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}
.namee{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 1rem;
    margin-left: 1rem;
}
.text{
    margin-left: 1rem;
}



.model,
.modelClose {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    overflow: hidden;
    z-index: 100;
    transition: opacity 0.4s ease, visibility .4s ease, transform .5s ease-in-out;
}

.modelOpen {
    visibility: visible;
    opacity: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
}

.closeModel {
    position: fixed;
    top: 3%;
    right: 3%;
    width: 2em;
    height: 2em;
    cursor: pointer;
}



@media screen and (max-width:1134px) {

.bottom{
    /* height: 120vh; */
    flex: 1;
    padding-top: 4rem;
    width: 74%;
    /* background-color: #130a2e; */
    margin: auto;
    flex-direction: column;
    /* display: flex; */
}
.postImage{
    width: 100%;
    object-fit: cover;
    height: 20rem;
    margin-bottom: 1rem;
    border-radius: 10px;
}
.post{
    max-height: 35rem;
}
.bottomLeft{
    width: 100%;
}
.reviews{
    width: 100%;
    height: 40%;
}
.bottomRight{
    width: 100%;
}
}
@media (max-width:900px) {
    .info{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width:430px) {

.img{
    position: absolute;
    height: 10rem;
    width: 10rem;
    object-fit: cover;
    border-radius: 50%;
    z-index: 2;
    bottom: -14%;
    left: 22%;
    transform: translate(-50%);
    border: 3px solid white;
}
.bottom{
    width: 100%;
}
.userInfo{
    text-align: left;
    /* margin-left: 1rem; */
}
.name{
    margin-left: 2rem;
}
.email{
    margin-left: 2rem;
}
.info{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin-left: 1rem;
}
.post{
    width: 100%;
    border-radius: 0;
    background-color: white;
    padding: 0%
}
.postImage{
    border-radius: 0%;
}
.desc{
    margin-left: 0.5rem;
}
.location{
    margin-left: 0.5rem;
}
.btnAdd{
    right: 10%;
}
}
@media screen and (max-width:555px) {
    .userInfo{
        line-height: 30px;
    }
    .info{
        margin-top: 0;
        justify-content: center;
    }
}
