.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(253, 254, 255);
}

.top{
    position: relative;
    height: 18rem;
    /* background-image: url(/src/assets/images/tools.jpg); */
    background-image: linear-gradient(to bottom right, #130a2e, aqua);
    /* background-color: aqua; */
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.bottom{
    flex: 1;
    width: 97%;
    margin: auto;
    /* margin: auto; */
    justify-content: space-around;
    height: 100vh;
    /* margin: auto; */
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}
.post{
    /* margin: auto; */
    padding: 1rem;
    position: relative;
    /* max-height: 50rem; */
    height: 38rem;
    /* height: 50rem; */
    min-height: 10rem;
    width: 36rem;
    background-color: rgb(225, 220, 220);
    margin-bottom: 2rem;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(30, 32, 171, 0.216)
}
.profileImage{
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 50%;
}
.postImage{
   max-height: 65%;
    width: 34rem;
    /* height: 70%; */
    /* position: absolute; */
    /* bottom: 12px; */
    object-fit: cover;
}
.imgTime{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}
.time{
    opacity: 0.6;
    margin-top: -2px;
}
.nametime{
    display: flex;
    flex-direction: column;
    /* gap:-10px; */
}
.topBottom{
    position: absolute;
    bottom: 0;
    width: 60%;
    height: 4rem;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.btn{
    background-color: #130a2e;
    color: lightgray;
    display: flex;
    align-items: center;
    /* justify-content:space-between; */
    padding-left: 1rem;
    /* padding-right: 2rem; */
    width: 14rem;
    height: 100%;
    font-size: 20px;
    font-weight: 600;
    border-right: 1px solid lightgray;
}
.btnAdd{
    background-color: #e7e6ec;
    color: #130a2e;
    height: 4rem;
    margin-bottom: 1rem;
    font-size: 17px;
    font-weight: 500;
    width: 9rem;
    border-radius: 10px;
}
.add{
    width: 80%;
    margin: auto;
}
.location{
    background-color: #130a2e;
    padding-left: 1rem;
    /* padding-right: 4rem; */
    cursor: pointer;
    color: lightgray;
    font-size: 18px;
    font-weight: 600;
    width: 14rem;
    height: 100%; 
}
.categ{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%);
    background-color: #130a2e;
    color: white;
    max-width: 12rem;
    border-bottom-left-radius: 40%;
    font-size: 17ox;
    height: 3rem;
    padding: 10px 10px 5px 10px;
}
@media screen and (max-width:620px) {
    .post{
        width: 30rem;
        max-height: 50rem;
    }
}
@media screen and (max-width:566px) {
    .post{
        width: 25rem;
    }
}
@media screen and (max-width:420px) {
    .post{
        width: 20rem;
    }
}