.p{
  font-size: 180px;
  /* margin-top: 4rem; */
  margin-left: 3rem;
  padding-top: 4rem;
  color: rgb(5, 14, 23);
  line-height: 160px;
}
.container{
  background-color: rgb(234, 234, 234);
}
.otherP{
  margin-left: 3.3rem;
  margin-top: 6rem;
  color: rgb(5, 14, 23);

  font-size: 45px;
}
.bottom{
  width: 95%;
  display: flex;
  margin: auto;
  height: 45rem;
  /* border: 1px solid red; */
  margin-bottom: 3rem;
  margin-top: 2rem;
  background-color: rgb(211, 204, 204);
}
.left{
  width: 50%;
  position: relative;
  height: 100%;

}
.right{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.imgg{
  position: absolute;
  width: 70%;
  height: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50% ,-50%);
  object-fit: cover;
}
.pRight{
  font-size: 40px;
  font-weight: 600;
}
.rightP{
  font-size: 19px;
}
.btn{
  width: 14rem;
  height: 3.6rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid rgb(56, 54, 54);
  color: black;
  font-weight: 600;
  gap: 8px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
}
.btn::before {
  width: calc(100% + 40px);
  aspect-ratio: 1/1;
  position: absolute;
  content: "";
  background-color: white;
  border-radius: 50%;
  left: -20px;
  top: 50%;
  transform: translate(-150%, -50%);
  transition-duration: .5s;
  mix-blend-mode: difference;
}
.btn:hover::before {
  transform: translate(0, -50%);
}
.btn:active {
  transform: translateY(4px);
  transition-duration: .3s;
  color: black;
}
.heroBackgrd {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(12, 31, 65, 0.451); 
}